

.about {
  margin-top: 30px;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 3rem;
      color: #000;
      order: 0;
      width: 40%;
      text-align: center;
      span {
        color: #091e80;
      }  
    }
    .description {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 1.2rem;
      color: #333333;
      flex: none;
      order: 1;
      flex-grow: 0;
      width: 71%;
      text-align: center;  
    }
  }
}





.card {
  background-color: aqua;
  height: 300px;
}
