.card-box {
  margin: 50px 40px;
  .about-card {
    width: 100%;
    height: 120px;
    padding: 16px 9px 0px 35px;
    position: relative;
    gap: 8px;
    background: linear-gradient(
      92.64deg,
      rgba(255, 255, 255, 0.3) -0.82%,
      rgba(198, 198, 198, 0.018) 100%
    );
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    .about-image {
      position: absolute;
      left: -50px;
      top: -39px;
      width: 100%;
      max-width: 80px;
      max-height: 80px;
      padding: 0px;
      border-bottom: 0.1rem solid rgb(212, 212, 212);
    }
    .card-detail {
     
      .title {
        width: 100%;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 130%;
        color: #091e80;
        text-align: start;
        flex: none;
        order: 0;
        margin-bottom: 0;
        flex-grow: 0;
      }

      .description {
        width: 100%;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 150%;
        color: #222222;
        flex: none;
        text-align: start;
        order: 1;
        flex-grow: 0;
        margin-bottom: 0;
      }
    }
  }
}
