.testimonials {
  background: #f1f3fe;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 30px 0px;
  position: relative;
  .content_wrapper {
    text-align: center;
    .our_client {
      margin-top: 30px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 130%;
      color: rgba(0, 0, 0, 0.91);
      flex: none;
      order: 1;
      flex-grow: 1;
      position: relative;
      margin-bottom: 0;
      span {
        color: #091e80;
      }
      &::before {
        content: "";
        width: 50px;
        position: absolute;
        border: 1px solid #1138ee;
        top: 10px;
        left: 435px;
      }
    }
    .heading {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 120%;
      color: #000000;
      flex: none;
      order: 1;
      flex-grow: 0;
      margin-bottom: 0;

      span {
        color: #091e80;
      }
    }
  }
  .client_img {
    div {
      .left_arrow {
        width: 47.45px;
        height: 41.26px;
        background: #1138ee;
        border: none;
        outline: none;
        border-top-right-radius: 80%;
        border-bottom-right-radius: 80%;
        border-bottom-left-radius: 100%;
        color: white;
        width: 47.45px;
        height: 41.26px;
        text-align: center;
      }
      .right_arrow {
        width: 47.45px;
        height: 41.26px;
        text-align: center;
        background: #1138ee;
        border: none;
        outline: none;
        border-top-left-radius: 80%;
        border-bottom-left-radius: 80%;
        border-bottom-right-radius: 100%;
        color: white;
        width: 47.45px;
        height: 41.26px;
      }
      .client-one {
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 200px;
      }
      .client-two {
        width: 100%;
        height: 100%;
        max-width: 130px;
        max-height: 120px;
      }
      .client-three {
        width: 100%;
        height: 100%;
        max-width: 90px;
        max-height: 80px;
        margin-top: 20px;
      }
    }
    .detail {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .description {
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        display: flex;
        color: #222222;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        width: 62%;
        margin-top: 40px;
      }
      .client_name {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #091e80;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        width: 18%;
        margin-bottom: 70px;
      }
    }
  }
}
